In [14]:
import pandas as pd
import pickle

In [2]:
days = 186
year = '2023'
qualifying_pa = 503

# Set start and end dates for the seasons
start_dates = ["2023-03-30", "2022-04-07", "2021-04-01"]
end_dates = ["2023-10-01", "2022-10-05", "2021-10-03"]

In [3]:
# Get stats from the last game of the season to get the qualifying players
season_stats = pd.read_csv(f'./{year} Stats/stats_{year}_{days-1}.csv')

In [4]:
# Get the players who have enough plate appearances to qualify based on fangraphs
season_stats_qual = season_stats[season_stats['PA'] >= qualifying_pa]
qual_ids = season_stats_qual['mlbID']
qual_ids

0      682928
1      547989
3      660670
4      642715
12     645277
        ...
624    664774
627    572233
648    677951
653    592885
655    807799
Name: mlbID, Length: 133, dtype: int64

In [5]:
player_dfs = {}

for day in range(0, days):
    # Load csv of league wide stats through the day
    date_stats = pd.read_csv(f'./2023 Stats/stats_{year}_{day}.csv')
    
    # Filter for players that met the PA threshold (from Fangraphs)
    date_stats_qual = date_stats[date_stats['mlbID'].isin(qual_ids)].copy()

    # Add new column for day
    date_stats_qual['Day'] = day

    # Loop over each player in dataframe
    for player_id in date_stats_qual['mlbID'].unique():
        # Filter for player
        player_stats = date_stats_qual[date_stats_qual['mlbID'] == player_id]

        # If player already has dataframe append the new stats
        if player_id in player_dfs:
            player_dfs[player_id] = pd.concat([player_dfs[player_id], player_stats])
        else:
            player_dfs[player_id] = player_stats

In [13]:
columns_to_remove = ['\xa0', 'Opp']
for player_id, df in player_dfs.items():
    # Remove columns that have the @ symbol and the Opp column b/c these are only defined for the first couple games
    if all(col in df.columns for col in columns_to_remove):
        player_dfs[player_id] = df.drop(columns=columns_to_remove)
    
    # Make the Date column defined as the first day of the season + the day number
    player_dfs[player_id]['Date'] = pd.to_datetime(player_dfs[player_id]['Day'], origin=f'{start_dates[0]}', unit='D')

    # For rows that have the same G as another row, keep only first row with that unique G
    player_dfs[player_id] = player_dfs[player_id].drop_duplicates(subset='G', keep='first')

In [15]:
pickle.dump(player_dfs, open(f'./{year}_player_dfs.pkl', 'wb'))

In [12]:
player_dfs[641355]

,Name,Age,#days,Lev,Date,Tm,G,PA,AB,R,...,SF,GDP,SB,CS,BA,OBP,SLG,OPS,mlbID,Day
24,Cody Bellinger,27,311,Maj-NL,2023-03-30,Chicago,1,4,3,0,...,0,0,0,0,0.000,0.250,0.000,0.250,641355,0
28,Cody Bellinger,27,309,Maj-NL,2023-04-01,Chicago,2,8,7,0,...,0,1,0,0,0.000,0.125,0.000,0.125,641355,2
29,Cody Bellinger,27,308,Maj-NL,2023-04-02,Chicago,3,12,11,0,...,0,1,0,0,0.000,0.083,0.000,0.083,641355,3
29,Cody Bellinger,27,307,Maj-NL,2023-04-03,Chicago,4,17,15,1,...,0,1,0,0,0.067,0.177,0.267,0.443,641355,4
30,Cody Bellinger,27,306,Maj-NL,2023-04-04,Chicago,5,23,20,2,...,0,1,0,0,0.200,0.304,0.350,0.654,641355,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,Cody Bellinger,27,131,Maj-NL,2023-09-26,Chicago,126,538,482,93,...,12,7,20,6,0.309,0.359,0.533,0.892,641355,180
55,Cody Bellinger,27,130,Maj-NL,2023-09-27,Chicago,127,543,487,94,...,12,7,20,6,0.310,0.359,0.532,0.891,641355,181
55,Cody Bellinger,27,129,Maj-NL,2023-09-28,Chicago,128,547,491,94,...,12,7,20,6,0.310,0.358,0.530,0.888,641355,182
55,Cody Bellinger,27,128,Maj-NL,2023-09-29,Chicago,129,551,495,94,...,12,7,20,6,0.307,0.356,0.525,0.881,641355,183
55,Cody Bellinger,27,127,Maj-NL,2023-09-30,Chicago,130,556,499,95,...,12,7,20,6,0.307,0.356,0.525,0.881,641355,184